# DB_NAME="inventory_db"
# DB_USER="root"
# DB_PASSWORD="0000"
# DB_HOST="127.0.0.1"
# DB_PORT="3306"
# OPENROUTER_API_KEY="sk-or-v1-paste_your_key_here"
# SECRET_KEY="django-insecure-key-default"
# DEBUG="True"


# STRIPE_SECRET_KEY="sk_test_paste_your_key"

# STRIPE_PRO_PRICE_ID="price_1..."
# STRIPE_ENTERPRISE_PRICE_ID="price_2..."
