# Django Settings
SECRET_KEY=django-insecure-+%jg=9s3iv42ybsfh^1s7ckqt1+q&c6u16dtirq=_&n5bs76-%
DEBUG=True

# MySQL Database Connection Configuration
DB_NAME=inventory_db
DB_USER=root
DB_PASSWORD=0000
DB_HOST=127.0.0.1
DB_PORT=3306